#header {
  position:fixed;
  left:0;
  top:0;
  width:100%;
  z-index:20;
}
#main {
  margin-top:5rem;
}
.card-body {
  padding:1rem 1rem 4rem !important;
  position:relative;
}
.card-body .btn {
  position:absolute;
  right:1rem;
  bottom:1rem;
}
.card-body .card-text {
  display:block;
  max-height:10rem;
  overflow:hidden;
  text-overflow:ellipsis;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; 
  -webkit-box-orient: vertical;
}
.card {
  display:inline-block;
  width:31%;
  margin:1%;
}
.card .figure {
  position:relative;
  overflow:hidden;
  padding-bottom:15rem;
  background-color:rgba(0,0,0,.3);
}
.card .figure > img {
  position:absolute;
  width:100%;
  transform: translateY(-50%);
  top:50%;
}
@media (max-width:992px) {
  #header .container,
  #main .container {
    max-width: 100% !important;
  }
}

@media (max-width:767px) {
  .card {
    width:calc(50% - 1rem);
  }
}

@media (max-width:600px) {
  .card {
    width:100%;
  }
}